# Server Specification
DEBUG=True
DJANGO_SECRET_KEY=secret
JWT_SECRET_KEY=<JWT_SECRET_KEY>
ACCESS_TOKEN_LIFETIME=<time-in-min>
REFRESH_TOKEN_LIFETIME=<time-in-min>

# Database Credentials
DB_USER=<db-user-name>
DB_NAME=<db-name>
DB_PASSWORD=<db-user-password>
DB_HOST=<db-host;default:localhost>
DB_PORT=<db-port:default:5432>
